# Data Wrangling

This project is about wrangling, analyzing and visualizing the tweet archive of Twitter user @dog_rates, also known as WeRateDogs. WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog.<br>
The goal is to wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.

## Data Gathering
In this project we'll gather data from 3 resources in different format.<br>
Fisrt, read the tweets archive from csv file.<br>
Second, download a tsv file from a given url and read it. This file contains a prediction of the dog's breed when its image has been passed into a neural network<br>
Lastly, collect more data about the tweets using twitter API, add the JSON object of each tweet to a text file, read that text file.<br>

In [1]:
import pandas as pd

Read WeRateDogs Twitter archive data from a given file to panda dataframe

In [4]:
archive = pd.read_csv('twitter-archive-enhanced.csv')

In [5]:
# Check the dataframe
archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

Download The tweet image predictions data from the internet (URL)

In [6]:
import requests
import os

In [7]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

In [8]:
with open(url.split('/')[-1], mode = 'wb') as file:
    file.write(response.content)

Read the downloaded file content and save it in a panda's dataframe

In [9]:
prediction = pd.read_csv('image-predictions.tsv',sep='\t')

# Check the dataframe 
prediction.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

Use Twitter API to query for each tweet's JSON data using Python's Tweepy library <br>
Store tweet's JSON data is in a tweet-json.txt file <br>
The code below shows how this could be done for those who have twitter developer account <br>
Since I don't, I include this code as a comment so others can use it, and use the tweet-json.txt file 
provided by Udacity.

In [10]:
# import tweepy
# from tweepy import OAuthHandler
# import json
# from timeit import default_timer as timer

# # Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# # These are hidden to comply with Twitter's API terms and conditions
# consumer_key = 'HIDDEN'
# consumer_secret = 'HIDDEN'
# access_token = 'HIDDEN'
# access_secret = 'HIDDEN'

# auth = OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_secret)

# api = tweepy.API(auth, wait_on_rate_limit=True)

# # NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# # df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# # change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# # NOTE TO REVIEWER: this student had mobile verification issues so the following
# # Twitter API code was sent to this student from a Udacity instructor
# # Tweet IDs for which to gather additional data via Twitter's API
# tweet_ids = df_1.tweet_id.values
# len(tweet_ids)

# # Query Twitter's API for JSON data for each tweet ID in the Twitter archive
# count = 0
# fails_dict = {}
# start = timer()
# # Save each tweet's returned JSON as a new line in a .txt file
# with open('tweet_json.txt', 'w') as outfile:
#     # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
#     for tweet_id in tweet_ids:
#         count += 1
#         print(str(count) + ": " + str(tweet_id))
#         try:
#             tweet = api.get_status(tweet_id, tweet_mode='extended')
#             print("Success")
#             json.dump(tweet._json, outfile)
#             outfile.write('\n')
#         except tweepy.TweepError as e:
#             print("Fail")
#             fails_dict[tweet_id] = e
#             pass
# end = timer()
# print(end - start)
# print(fails_dict)

Open tweet-json.txt file and print one line in a readble format to know the desired attribute's names

In [11]:
import json 
import pprint 
import pandas as pd

hashtag_list = []
with open('tweet-json.txt', 'r') as file:
    data = file.readline()
    json_data = json.loads(data)
    pprint.pprint(json_data)
#     if (len(json_data['entities']['hashtags']) > 0) :
#         #print(json_data['entities']['hashtags'][0]['text'])
#         hashtag_list.append(json_data['entities']['hashtags'][0]['text'])

# pd.DataFrame(hashtag_list).nunique()

{'contributors': None,
 'coordinates': None,
 'created_at': 'Tue Aug 01 16:23:56 +0000 2017',
 'display_text_range': [0, 85],
 'entities': {'hashtags': [],
              'media': [{'display_url': 'pic.twitter.com/MgUWQ76dJU',
                         'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
                         'id': 892420639486877696,
                         'id_str': '892420639486877696',
                         'indices': [86, 109],
                         'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
                         'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
                         'sizes': {'large': {'h': 528,
                                             'resize': 'fit',
                                             'w': 540},
                                   'medium': {'h': 528,
                                              'resize': 'fit',
                                              'w': 540},
                                   'small': {'h': 528,
                                             'resize': 'fit',
                                             'w': 540},
                                   'thumb': {'h': 150,
                                             'resize': 'crop',
                                             'w': 150}},
                         'type': 'photo',
                         'url': 'https://t.co/MgUWQ76dJU'}],
              'symbols': [],
              'urls': [],
              'user_mentions': []},
 'extended_entities': {'media': [{'display_url': 'pic.twitter.com/MgUWQ76dJU',
                                  'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
                                  'id': 892420639486877696,
                                  'id_str': '892420639486877696',
                                  'indices': [86, 109],
                                  'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
                                  'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
                                  'sizes': {'large': {'h': 528,
                                                      'resize': 'fit',
                                                      'w': 540},
                                            'medium': {'h': 528,
                                                       'resize': 'fit',
                                                       'w': 540},
                                            'small': {'h': 528,
                                                      'resize': 'fit',
                                                      'w': 540},
                                            'thumb': {'h': 150,
                                                      'resize': 'crop',
                                                      'w': 150}},
                                  'type': 'photo',
                                  'url': 'https://t.co/MgUWQ76dJU'}]},
 'favorite_count': 39467,
 'favorited': False,
 'full_text': "This is Phineas. He's a mystical boy. Only ever appears in the "
              'hole of a donut. 13/10 https://t.co/MgUWQ76dJU',
 'geo': None,
 'id': 892420643555336193,
 'id_str': '892420643555336193',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'is_quote_status': False,
 'lang': 'en',
 'place': None,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'retweet_count': 8853,
 'retweeted': False,
 'source': '<a href="http://twitter.com/download/iphone" '
           'rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'user': {'contributors_enabled': False,
          'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
          'default_profile': False,
          'default_profile_image': False,
          'description': '#1 Source for Professional Dog Ratings | STORE: '
                         '@ShopWeRateDogs | IG, FB & SC: WeRateDogs MOBILE '
                         'APP: @GoodDogsGame | Business: '
                         'dogratingtwitter@gmail.com',
          'entities': {'description': {'urls': []},
                       'url': {'urls': [{'display_url': 'weratedogs.com',
                                         'expanded_url': 'http://weratedogs.com',
                                         'indices': [0, 23],
                                         'url': 'https://t.co/N7sNNHAEXS'}]}},
          'favourites_count': 114031,
          'follow_request_sent': False,
          'followers_count': 3200889,
          'following': True,
          'friends_count': 104,
          'geo_enabled': True,
          'has_extended_profile': True,
          'id': 4196983835,
          'id_str': '4196983835',
          'is_translation_enabled': False,
          'is_translator': False,
          'lang': 'en',
          'listed_count': 2784,
          'location': 'DM YOUR DOGS, WE WILL RATE',
          'name': 'WeRateDogs™ (author)',
          'notifications': False,
          'profile_background_color': '000000',
          'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
          'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
          'profile_background_tile': False,
          'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1501129017',
          'profile_image_url': 'http://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg',
          'profile_image_url_https': 'https://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg',
          'profile_link_color': 'F5ABB5',
          'profile_sidebar_border_color': '000000',
          'profile_sidebar_fill_color': '000000',
          'profile_text_color': '000000',
          'profile_use_background_image': False,
          'protected': False,
          'screen_name': 'dog_rates',
          'statuses_count': 5288,
          'time_zone': None,
          'translator_type': 'none',
          'url': 'https://t.co/N7sNNHAEXS',
          'utc_offset': None,
          'verified': True}}

In [12]:
#This function computes the number of lines in a file
def rawcount(filename):
    f = open(filename, 'rb')
    lines = 0
    buf_size = 1024 * 1024
    read_f = f.raw.read

    buf = read_f(buf_size)
    while buf:
        lines += buf.count(b'\n')
        buf = read_f(buf_size)

    return lines

In [13]:
# Count the number of lines. Thst is, the number of tweets, as each line represents one tweet info.
linesCount = rawcount('tweet-json.txt')

# Store tweet's info in retweet_info array, to be converted later into panda's dataframe
retweet_info = []

with open('tweet-json.txt', 'r') as file:
    #For each line (tweet) get and store the info.
    for i in range (linesCount):
        data = file.readline()
        json_data = json.loads(data)
        tweet_id = json_data['id_str']
        retweet_count = json_data['retweet_count']
        favorite_count = json_data['favorite_count']
        created_at = json_data['created_at']
        num_of_hashtag = len(json_data['entities']['hashtags'])
        hashtag_list = []
        followers_count = json_data['user']['followers_count']
        
        retweet_info.append({
            'tweet_id': tweet_id,
            'retweet_count': retweet_count,
            'favorite_count': favorite_count,
            'num_of_hashtag': num_of_hashtag,
            'followers_count': followers_count
        })
 
retweet_favorite = pd.DataFrame(retweet_info)

In [14]:
retweet_favorite.head(10)

,tweet_id,retweet_count,favorite_count,num_of_hashtag,followers_count
0,892420643555336193,8853,39467,0,3200889
1,892177421306343426,6514,33819,0,3200889
2,891815181378084864,4328,25461,0,3200889
3,891689557279858688,8964,42908,0,3200889
4,891327558926688256,9774,41048,1,3200889
5,891087950875897856,3261,20562,1,3200889
6,890971913173991426,2158,12041,0,3200889
7,890729181411237888,16716,56848,0,3200889
8,890609185150312448,4429,28226,1,3200889
9,890240255349198849,7711,32467,0,3200889

## Data Assessment

In [15]:
archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [16]:
check_null_stage = (archive.doggo == "None") & (archive.floofer == "None") & (archive.pupper == "None") & (archive.puppo == "None")
check_null_stage.sum()

1976

In [17]:
b1 = ((archive.doggo != "None") & (archive.floofer != "None"))
b2 = ((archive.doggo != "None") & (archive.pupper != "None"))
b3 = ((archive.doggo != "None") & (archive.puppo != "None"))
b4 = ((archive.floofer != "None") & (archive.pupper != "None"))
b5 = ((archive.floofer != "None") & (archive.puppo != "None"))
b6 = ((archive.pupper != "None") & (archive.puppo != "None"))
check_many_stage = (b1 | b2 | b3 | b4 | b5 | b6)
check_many_stage.sum()

14

In [18]:
prediction

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [19]:
retweet_favorite

,tweet_id,retweet_count,favorite_count,num_of_hashtag,followers_count
0,892420643555336193,8853,39467,0,3200889
1,892177421306343426,6514,33819,0,3200889
2,891815181378084864,4328,25461,0,3200889
3,891689557279858688,8964,42908,0,3200889
4,891327558926688256,9774,41048,1,3200889
...,...,...,...,...,...
2349,666049248165822465,41,111,0,3201018
2350,666044226329800704,147,311,0,3201018
2351,666033412701032449,47,128,0,3201018
2352,666029285002620928,48,132,0,3201018
2353,666020888022790149,532,2535,0,3201018

In [20]:
archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [21]:
prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [22]:
retweet_favorite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 5 columns):
tweet_id           2354 non-null object
retweet_count      2354 non-null int64
favorite_count     2354 non-null int64
num_of_hashtag     2354 non-null int64
followers_count    2354 non-null int64
dtypes: int64(4), object(1)
memory usage: 92.1+ KB

In [23]:
archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [24]:
prediction.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [25]:
retweet_favorite.describe()

       retweet_count  favorite_count  num_of_hashtag  followers_count
count    2354.000000     2354.000000     2354.000000     2.354000e+03
mean     3164.797366     8080.968564        0.012319     3.200942e+06
std      5284.770364    11814.771334        0.117783     4.457302e+01
min         0.000000        0.000000        0.000000     3.200799e+06
25%       624.500000     1415.000000        0.000000     3.200898e+06
50%      1473.500000     3603.500000        0.000000     3.200945e+06
75%      3652.000000    10122.250000        0.000000     3.200953e+06
max     79515.000000   132810.000000        2.000000     3.201018e+06

In [26]:
archive[~archive['retweeted_status_id'].isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,https://twitter.com/dog_rates/status/886053434...,12,10,None,None,None,None,None
36,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Lilly. She just paralle...,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,https://twitter.com/dog_rates/status/830583320...,13,10,Lilly,None,None,None,None
68,879130579576475649,NaN,NaN,2017-06-26 00:13:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Emmy. She was adopted t...,8.780576e+17,4.196984e+09,2017-06-23 01:10:23 +0000,https://twitter.com/dog_rates/status/878057613...,14,10,Emmy,None,None,None,None
73,878404777348136964,NaN,NaN,2017-06-24 00:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Shadow. In an attempt to r...,8.782815e+17,4.196984e+09,2017-06-23 16:00:04 +0000,"https://www.gofundme.com/3yd6y1c,https://twitt...",13,10,Shadow,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,746521445350707200,NaN,NaN,2016-06-25 01:52:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Shaggy. He knows exactl...,6.678667e+17,4.196984e+09,2015-11-21 00:46:50 +0000,https://twitter.com/dog_rates/status/667866724...,10,10,Shaggy,None,None,None,None
1043,743835915802583040,NaN,NaN,2016-06-17 16:01:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Extremely intelligent dog here....,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/667138269...,10,10,None,None,None,None,None
1242,711998809858043904,NaN,NaN,2016-03-21 19:31:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @twitter: @dog_rates Awesome Tweet! 12/10. ...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/twitter/status/71199827977...,12,10,None,None,None,None,None
2259,667550904950915073,NaN,NaN,2015-11-20 03:51:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Exceptional talent. Origi...,6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,https://twitter.com/dogratingrating/status/667...,12,10,None,None,None,None,None
2260,667550882905632768,NaN,NaN,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dogratingrating/status/667...,5,10,None,None,None,None,None

In [27]:
archive.duplicated('tweet_id').sum()

0

In [28]:
archive.duplicated('text').sum()

0

In [29]:
prediction.duplicated('tweet_id').sum()

0

In [30]:
retweet_favorite.duplicated('tweet_id').sum()

0

### Quality issues
###### archive table
* The dataset contains retweeted tweetes, we only needs the original tweet.
* Null values in the columns "in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id,	retweeted_status_user_id,	retweeted_status_timestamp".
* Representing the null values as None in name, doggo, floofer, pupper, puppo columns.
* Some rows has no stage, that is, doggo, floofer, pupper, and puppo columns are all None, while some records have more than one stage.
* timestamp is an object rather than timestamp.
* id is a number rather than a string.

###### prediction table
* id is a number rather than a string.
* Non-descriptive name for the columns p1, p1_conf, p1_dog, p2,	p2_conf, p2_dog, p3, p3_conf, p3_dog.

### Tidiness issues
* The doggo, floofer, pupper, puppo are all represents one variable, the stage.
* The text of the tweet contains the text and the tweet URL, these are two variables in one column.
* The best prediction of the breeds of dogs needs to be added to the archive table.  
* The archive, retweet_favorite tables are all related to one observational unit (tweet), so all these observations form a table.

## Cleaning

In [31]:
#Before cleaning, make a copy of all dataframes
archive_clean = archive.copy()
prediction_clean = prediction.copy()
retweet_favorite_clean = retweet_favorite.copy()

Start by quality issues

### Define
In the archive table, drop retweeted tweetes. i.e, the tweetes on which retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp are not null

### Code

In [32]:
archive_clean = archive_clean[archive_clean['retweeted_status_id'].isnull()]

### Test

In [33]:
archive_clean[~archive_clean['retweeted_status_id'].isnull()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [34]:
archive_clean.shape[0]

2175

In [35]:
archive_clean.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Define
In the archive table, drop "in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp" as it nulls for most of the records and isn't used in our analysis

### Code

In [36]:
archive_clean.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id',
                    'retweeted_status_user_id', 'retweeted_status_timestamp'], axis = 1, inplace = True)

### Test

In [37]:
archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

### Define
Unify the representation of the null values on name, doggo,	floofer, pupper, puppo as NaN instead of None

### Code

In [39]:
import numpy as np

to_be_replaced = ['name', 'doggo','floofer', 'pupper', 'puppo']

for column in to_be_replaced:
    archive_clean[column].replace('None',np.nan, inplace = True)

### Test

In [40]:
archive_clean.name.value_counts()

a           55
Lucy        11
Charlie     11
Cooper      10
Oliver      10
            ..
Ricky        1
Buddah       1
such         1
Ralphson     1
Stella       1
Name: name, Length: 955, dtype: int64

In [41]:
for column in to_be_replaced:
    assert 'None' not in archive_clean[column].unique()

### Define
Extract the dog's stage from the text if more than one stage has been record, or if no stage has been recorded.

### Code

In [42]:
# Check the tweet's text
pd.set_option('display.max_colwidth',-1)
archive_clean.text.sample(10)

442     This is Jazzy. She just found out that sandwich wasn't for her. Shocked and puppalled. 13/10 deep breaths Jazzy https://t.co/52cItP0vIO
1245    I want to hear the joke this dog was just told. 10/10 https://t.co/1KiuZqqOD4
15      This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his victim. 13/10 fr*ckin frightening #BarkWeek https://t.co/WpHvrQedPb
1815    This is the saddest/sweetest/best picture I've been sent. 12/10 😢🐶 https://t.co/vQ2Lw1BLBF
1783    Endangered triangular pup here. Could be a wizard. Caught mid-laugh. No legs. Just fluff. Probably a wizard. 9/10 https://t.co/GFVIHIod0Z
177     Instead of the usual nightly dog rate, I'm sharing this story with you. Meeko is 13/10 and would like your help \n\nhttps://t.co/Mj4j6QoIJk https://t.co/JdNE5oqYEV
1990    This is Leonidas. He just got rekt by a snowball. 9/10 doggy down https://t.co/uNrmYDUa9M
1424    This is Doug. He's a Draconian Jabbawockee. Rad tongue. Ears are borderline legendary 11/10 would pet with a purpose https://t.co/MVvbQW88Pv
472     Meet Moose. He doesn't want his friend to go back to college. 13/10 looks like you're staying home John https://t.co/LIhmM7i70k
1841    Ok, I'll admit this is a pretty adorable bunny hopping towards the ocean but please only send in dogs... 11/10 https://t.co/sfsVCGIipI
Name: text, dtype: object

The stage isn't explicity mentioned in the text, look for the records that has more than one stage, or no stage, to see if it can be handles

In [43]:
check_null_stage = (archive_clean.doggo == "None") & (archive_clean.floofer == "None") & (archive_clean.pupper == "None") & (archive_clean.puppo == "None")

In [44]:
archive_clean[check_null_stage].shape[0]

0

In [45]:
b1 = ((~archive_clean.doggo.isnull()) & (~archive_clean.floofer.isnull()))
b2 = ((~archive_clean.doggo.isnull()) & (~archive_clean.pupper.isnull()))
b3 = ((~archive_clean.doggo.isnull()) & (~archive_clean.puppo.isnull()))
b4 = ((~archive_clean.floofer.isnull()) & (~archive_clean.pupper.isnull()))
b5 = ((~archive_clean.floofer.isnull()) & (~archive_clean.puppo.isnull()))
b6 = ((~archive_clean.pupper.isnull()) & (~archive_clean.puppo.isnull()))
check_many_stage = (b1 | b2 | b3 | b4 | b5 | b6)

In [46]:
archive_clean[check_many_stage].shape[0]

12

The records with no stage values can't be handled, let's handle the records with more than one stage

In [47]:
archive_clean[check_many_stage]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
191,855851453814013952,2017-04-22 18:31:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for https://t.co/cMhq16isel,https://twitter.com/dog_rates/status/855851453814013952/photo/1,13,10,NaN,doggo,NaN,NaN,puppo
200,854010172552949760,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk","https://twitter.com/dog_rates/status/854010172552949760/photo/1,https://twitter.com/dog_rates/status/854010172552949760/photo/1",11,10,NaN,doggo,floofer,NaN,NaN
460,817777686764523521,2017-01-07 16:59:28 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Dido. She's playing the lead role in ""Pupper Stops to Catch Snow Before Resuming Shadow Box with Dried Apple."" 13/10 (IG: didodoggo) https://t.co/m7isZrOBX7",https://twitter.com/dog_rates/status/817777686764523521/video/1,13,10,Dido,doggo,NaN,pupper,NaN
531,808106460588765185,2016-12-12 00:29:28 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have Burke (pupper) and Dexter (doggo). Pupper wants to be exactly like doggo. Both 12/10 would pet at same time https://t.co/ANBpEYHaho,https://twitter.com/dog_rates/status/808106460588765185/photo/1,12,10,NaN,doggo,NaN,pupper,NaN
565,802265048156610565,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",https://twitter.com/dog_rates/status/802265048156610565/photo/1,11,10,NaN,doggo,NaN,pupper,NaN
575,801115127852503040,2016-11-22 17:28:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths pupper everything's fine https://t.co/55Dqe0SJNj,"https://twitter.com/dog_rates/status/801115127852503040/photo/1,https://twitter.com/dog_rates/status/801115127852503040/photo/1",12,10,Bones,doggo,NaN,pupper,NaN
705,785639753186217984,2016-10-11 00:34:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. Still 10/10 would pet cautiously https://t.co/f2wmLZTPHd,"https://twitter.com/dog_rates/status/785639753186217984/photo/1,https://twitter.com/dog_rates/status/785639753186217984/photo/1",10,10,Pinot,doggo,NaN,pupper,NaN
733,781308096455073793,2016-09-29 01:42:20 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine - Make a Scene</a>","Pupper butt 1, Doggo 0. Both 12/10 https://t.co/WQvcPEpH2u",https://vine.co/v/5rgu2Law2ut,12,10,NaN,doggo,NaN,pupper,NaN
889,759793422261743616,2016-07-31 16:50:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll","https://twitter.com/dog_rates/status/759793422261743616/photo/1,https://twitter.com/dog_rates/status/759793422261743616/photo/1",12,10,Maggie,doggo,NaN,pupper,NaN
956,751583847268179968,2016-07-09 01:08:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8,https://twitter.com/dog_rates/status/751583847268179968/photo/1,5,10,NaN,doggo,NaN,pupper,NaN
1063,741067306818797568,2016-06-10 00:39:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,https://twitter.com/dog_rates/status/741067306818797568/photo/1,12,10,just,doggo,NaN,pupper,NaN
1113,733109485275860992,2016-05-19 01:38:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",https://twitter.com/dog_rates/status/733109485275860992/photo/1,12,10,NaN,doggo,NaN,pupper,NaN

In [48]:
#For these records, it's easy to now the stage from the text
archive_clean.at[191,'doggo']= np.nan
archive_clean.at[200,'doggo']= np.nan
archive_clean.at[460,'doggo']= np.nan
archive_clean.at[575,'doggo']= np.nan
archive_clean.at[705,'pupper']= np.nan
archive_clean.at[956,'doggo']= np.nan
archive_clean.at[956,'pupper']= np.nan

#For recoeds 531,565,733,889,1063, and 1113, there're two dogs, doggo and pupper
#I'll choose the father (doggo) for these records as the big dog takes the most of the picture
#This might be inaccurate but these're just 6 records from over 2000 records, in addition, it's more fetal and
#  error driven to analyze the data with more than a dog per tweet, as our primary key is the tweet_id
#  and each tweet has one rating even if ther're 2 dogs, and the rating is the most considarble property.
archive_clean.at[531,'pupper']= np.nan
archive_clean.at[565,'pupper']= np.nan
archive_clean.at[733,'pupper']= np.nan
archive_clean.at[889,'pupper']= np.nan
archive_clean.at[1063,'pupper']= np.nan
archive_clean.at[1113,'pupper']= np.nan

### Test

In [49]:
b1 = ((~archive_clean.doggo.isnull()) & (~archive_clean.floofer.isnull()))
b2 = ((~archive_clean.doggo.isnull()) & (~archive_clean.pupper.isnull()))
b3 = ((~archive_clean.doggo.isnull()) & (~archive_clean.puppo.isnull()))
b4 = ((~archive_clean.floofer.isnull()) & (~archive_clean.pupper.isnull()))
b5 = ((~archive_clean.floofer.isnull()) & (~archive_clean.puppo.isnull()))
b6 = ((~archive_clean.pupper.isnull()) & (~archive_clean.puppo.isnull()))
check_many_stage = (b1 | b2 | b3 | b4 | b5 | b6)
check_many_stage.sum()

0

### Define
Change the datatype of timestamp in the archive table into timestamp

### Code

In [50]:
archive_clean.timestamp = pd.to_datetime(archive_clean.timestamp)

### Test

In [51]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null datetime64[ns, UTC]
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  1495 non-null object
doggo                 82 non-null object
floofer               10 non-null object
pupper                226 non-null object
puppo                 25 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 300.9+ KB

### Define
Change the datatype of the tweet_id into string in the archive, prediction tables

### Code

In [52]:
archive_clean.tweet_id = archive_clean.tweet_id.apply(str)
prediction_clean.tweet_id = prediction_clean.tweet_id.apply(str)

### Test

In [53]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns, UTC]
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  1495 non-null object
doggo                 82 non-null object
floofer               10 non-null object
pupper                226 non-null object
puppo                 25 non-null object
dtypes: datetime64[ns, UTC](1), int64(2), object(9)
memory usage: 300.9+ KB

In [54]:
prediction_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

### Define
Change the columns names (p1, p1_conf, p1_dog, p2,	p2_conf, p2_dog, p3, p3_conf, p3_dog) into <br>
(prediction1, prediction1_confidence, prediction1_is_dog, <br>
prediction2, prediction2_confidence, prediction2_is_dog, <br>
prediction3, prediction3_confidence, prediction3_is_dog,)

### Code

In [55]:
prediction_clean.rename(columns = {'p1':'prediction1','p1_conf':'prediction1_confidence','p1_dog':'prediction1_is_dog'
                                  ,'p2':'prediction2','p2_conf':'prediction2_confidence','p2_dog':'prediction2_is_dog'
                                  ,'p3':'prediction3','p3_conf':'prediction3_confidence','p3_dog':'prediction3_is_dog'
                                  }, inplace = True)

### Test

In [56]:
prediction_clean.sample()

,tweet_id,jpg_url,img_num,prediction1,prediction1_confidence,prediction1_is_dog,prediction2,prediction2_confidence,prediction2_is_dog,prediction3,prediction3_confidence,prediction3_is_dog
1908,852672615818899456,https://pbs.twimg.com/media/C9VNNp1XkAEWRFb.jpg,1,golden_retriever,0.711235,True,otterhound,0.068235,True,Sussex_spaniel,0.046562,True

The missing records in the prediction, retweet_favorite table can't be gathered, so I'll leave it as it's.

Now, fix the tidiness issues.

### Define
Make one column "stage" rather than seperating stage values as columns, i.e. doggo, floofer, pupper, and puppo<br>
This could be done using the melt function

### Code

In [57]:
stage_df = pd.melt(archive_clean, id_vars= list(archive_clean.columns.values)[:-4],
                           value_name='stage')
stage_df.drop(list(stage_df.columns.values)[1:-1], axis = 1, inplace = True)
stage_df.dropna(subset=['stage'], inplace = True)

In [58]:
archive_clean = pd.merge(archive_clean,stage_df, on='tweet_id' , how='left')
archive_clean.drop(list(archive_clean.columns.values)[-5:-1], axis = 1, inplace = True)

### Test

In [59]:
archive_clean.head(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,NaN
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,NaN
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,NaN
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,NaN
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,NaN

### Define
Devide the text column into two tables, text, and URL

### Code

In [60]:
archive_clean['tweet_URL'] = archive_clean.text.str.extract('(https://.*\s?)')

In [61]:
archive_clean['text'] = archive_clean.text.str.split('https://.*', n=1, expand = True)[0]

### Test

In [62]:
archive_clean.sample(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage,tweet_URL
2164,666063827256086533,2015-11-16 01:22:45+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is the happiest dog you will ever see. Very committed owner. Nice couch. 10/10,https://twitter.com/dog_rates/status/666063827256086533/photo/1,10,10,the,NaN,https://t.co/RhUEAloehK
1643,676575501977128964,2015-12-15 01:32:24+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This pupper is very passionate about Christmas. Wanted to give the tree a hug. So cute. 8/10,https://twitter.com/dog_rates/status/676575501977128964/photo/1,8,10,NaN,pupper,https://t.co/NsGyECJuq7
224,842846295480000512,2017-03-17 21:13:10+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Charlie. He's wishing you a very fun and safe St. Pawtrick's Day. 13/10 festive af,https://twitter.com/dog_rates/status/842846295480000512/photo/1,13,10,Charlie,NaN,https://t.co/nFpNgCWWYs
859,744971049620602880,2016-06-20 19:11:53+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to Indie and Jupiter. They're having a stellar day out on the boat. Both 12/10 adorbz af,"https://twitter.com/dog_rates/status/744971049620602880/photo/1,https://twitter.com/dog_rates/status/744971049620602880/photo/1,https://twitter.com/dog_rates/status/744971049620602880/photo/1",12,10,Indie,NaN,https://t.co/KgSEkrPA3r
162,855862651834028034,2017-04-22 19:15:32+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@dhmontgomery We also gave snoop dogg a 420/10 but I think that predated your research,NaN,420,10,NaN,NaN,NaN

### Define
add the best prediction of the dog's breed, i.e. p1 column to the archive table

### Code

In [63]:
best_prediction = prediction_clean[['tweet_id','prediction1','prediction1_is_dog']]
best_prediction = best_prediction.query('prediction1_is_dog == True')
best_prediction.drop('prediction1_is_dog', axis = 1, inplace = True)
best_prediction.head()

             tweet_id             prediction1
0  666020888022790149  Welsh_springer_spaniel
1  666029285002620928  redbone
2  666033412701032449  German_shepherd
3  666044226329800704  Rhodesian_ridgeback
4  666049248165822465  miniature_pinscher

In [64]:
archive_clean = pd.merge(archive_clean,best_prediction, on='tweet_id', how='left')

In [65]:
archive_clean.rename(columns = {'prediction1':'breed prediction'}, inplace = True)

### Test

In [66]:
archive_clean.sample()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage,tweet_URL,breed prediction
2113,667138269671505920,2015-11-19 00:32:12+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Extremely intelligent dog here. Has learned to walk like human. Even has his own dog. Very impressive 10/10,https://twitter.com/dog_rates/status/667138269671505920/photo/1,10,10,NaN,NaN,https://t.co/0DvHAMdA4V,West_Highland_white_terrier

### Define
merge the archive, retweet_favorite table

### Code

In [67]:
archive_clean = pd.merge(archive_clean, retweet_favorite_clean, on='tweet_id', how='left')

### Test

In [70]:
archive_clean.sample()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage,tweet_URL,breed prediction,retweet_count,favorite_count,num_of_hashtag,followers_count
1816,672594978741354496,2015-12-04 01:55:13+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Scott. Just trying to catch his train to work. Doesn't need everybody staring. 9/10 ignore the haters pupper,https://twitter.com/dog_rates/status/672594978741354496/photo/1,9,10,Scott,pupper,https://t.co/jyXbZ35MYz,Great_Pyrenees,661,1411,0,3201005

In [69]:
archive_clean.shape

(2175, 15)

## Storing the data
store the data into a master file "twitter_archive_master.csv" to be used in analysis and visualization

In [71]:
archive_clean.to_csv('twitter_archive_master.csv', index = False)